{% form_theme form _self %}

{% block epiceditor_widget %}
{% spaceless %}

    <textarea style="display: none;" {{ block('widget_attributes') }}>{{ value }}</textarea>
    <div id="epiceditor"></div>

{% javascripts '@BackenderEpiceditorBundle/Resources/public/js/epiceditor.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
(function() {

    var opts = {
        container: '{{ container }}',
        basePath: '{{ basepath }}',
        clientSideStorage: '{{ clientSideStorage }}',
        localStorageName: '{{ localStorageName }}',
        parser: {{ parser }},
        file: {
            name: '{{ file.name }}',
            defaultContent: '{{ file.defaultContent }}',
            autoSave: {{ file.autoSave }}
        },
        theme: {
            base:'{{ theme.base }}',
            preview:'{{ theme.preview }}',
            editor:'{{ theme.editor }}'
        },
        focusOnLoad: '{{ focusOnLoad }}',
        shortcut: {
            modifier: {{ shortcut.modifier }},
            fullscreen: {{ shortcut.fullscreen }},
            preview: {{ shortcut.preview }},
            edit: {{ shortcut.edit }}
        }
    };

    var editor = new EpicEditor(opts),
        textarea = document.getElementById('{{ id }}');

    editor.on('update', function (file) {
        textarea.value = editor.exportFile();
    });

    // Everything is all setup, so load!
    editor.load(function () {
        editor.importFile('{{ id }}', textarea.value);
    });

})();
</script>

{% endspaceless %}
{% endblock %}
