{% form_theme form _self %}

{% block epiceditor_widget %}
{% spaceless %}

    <textarea style="display: none;" {{ block('widget_attributes') }}>{{ value }}</textarea>
    <div id="epiceditor"></div>

{% javascripts '@BackenderEpiceditorBundle/Resources/public/js/epiceditor.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    var opts = {
        container: 'epiceditor',
        basePath: '/git/blog/web/bundles/backenderepiceditor', //config: base path
        clientSideStorage: true,
        localStorageName: 'epiceditor',
        parser: marked,
        file: {
            name: 'epiceditor',
            defaultContent: '',
            autoSave: 100
        },
        theme: {
            base:'/themes/base/epiceditor.css', //config: base file
            preview:'/themes/preview/github.css', //config: preview file
            editor:'/themes/editor/epic-dark.css' //config: editor file
        },
        focusOnLoad: false,
        shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80,
            edit: 79
        }
    }
    var editor = new EpicEditor(opts);

    //TODO: make browser cache working somehow

    //import form field value on load
    editor.on('load', function (file) {
        editor.importFile('{{ id }}',"{{ value }}");
    });
    // put existing content to form field
    /*editor.on('load', function (file) {
        document.getElementById('{{ id }}').value = editor.exportFile();
    });*/


    editor.on('update', function (file) {
        document.getElementById('{{ id }}').value = editor.exportFile();
    });

    editor.on('save', function (file) {
        document.getElementById('{{ id }}').value = editor.exportFile();
    });

    // Everything is all setup, so load!
    editor.load();

</script>

{% endspaceless %}
{% endblock %}
